/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
  max-width: 100%;
}
html,
body {
  height: 100%;
}
/*classes*/
/*General Styles*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  font-family: 'Rubik', sans-serif;
}
p {
  color: white;
  font-family: 'Roboto', sans-serif;
}
.text-effect {
  letter-spacing: 5%;
  text-decoration: underline;
}
.padding {
  padding: 5%;
}
.container {
  display: flex;
  flex-flow: row;
}
.container-right {
  display: flex;
  flex-flow: column;
  justify-content: center flex-end;
  align-content: flex-start;
  width: 70%;
}
.container-right .panel-right {
  display: flex;
  flex-flow: column;
  padding: 5%;
}
@media (max-width: 500px) {
  .container-right .panel-right {
    text-align: center;
  }
}
.container-right .panel-right h1 {
  color: black;
  letter-spacing: 5%;
  text-decoration: underline;
}
.container-right .panel-right p {
  color: black;
}
header {
  display: flex;
  justify-content: center;
  height: 5%;
  background-color: black;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
header nav a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin-left: 8%;
  margin-right: 8%;
  color: white;
}
@media (max-width: 500px) {
  header nav a {
    margin-left: 4%;
    margin-right: 4%;
  }
}
.left-panel {
  width: 30%;
}
.portrait-box {
  display: flex;
  padding: 5%;
  background-color: black;
}
.panel {
  display: flex;
  flex-flow: column;
  background-color: black;
  padding: 5%;
}
@media (max-width: 500px) {
  body .left-panel {
    width: 50%;
  }
}
body .left-panel .portrait-box {
  display: flex;
  padding: 5%;
  background-color: black;
}
